body{
    margin: 0;
    padding: 0;
    background: linear-gradient(#ffafbd, #ffc3a0);
    background-repeat: no-repeat;
    height: 38em;
}
.main {
    height: 100%;
}
.sec1{
    position:relative;
    margin: 5%;
    height: 100%;
}
.bg-wrapper{
   position: absolute;
   top: 90%;
   background: #9d9d9d;
   border-radius: 25px;
   padding: 6px;
}
.bg-wrapper a{
    text-indent: -99999px;
    margin: 5px;
    cursor: pointer;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    float: left;
}
#lightblue{
    background: lightblue;
}
#salmon{
    background: salmon;
}
#burlywood{
    background: burlywood;
}
table{
    background-color: bisque;
}